@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Yanone+Kaffeesatz:wght@500&display=swap');

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gray;
    color: rgb(255, 255, 255);
    font-size: 28px;
    flex-direction: column;
}

.main-header{
  font-family: 'Heebo', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

p:hover{
  color: aqua;
  padding-right: 10px;
}

.nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.create-form label{
  color: white !important;
}